body {
 display: flex;
 margin: 0;
 flex-direction:column;
 min-height: 100vh;
}

.headertext {
    font-size: 24px;
    color: #F9FAF8;
    border: 1px solid pink;
}


.header {
   
}

.topbluepart {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    height: 650px;
    align-items: center;
    justify-content: space-around;
}

.whitepartwithtext {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 250px;
}

.infoheader {
    text-align: center;
}


.quotebox {
    background: #E5E7EB;
    display: flex;
    
    height: 150px;
}

.infoheaderpics {
    border: 3px solid blue;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 200px;
    margin-bottom: 100px;
}

.signupbox {
    background: pink;
    display: flex;
    height: 200px;
}

.footer {
    background: #1F2937;
    height: 50px;
    color: white;
}

.boxinsidebluepart {
    border: 1px solid pink;
    background: green;
}

.bottomgroupbox {
    border: 3px solid brown;
}

.all {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1;
}

.bothboxes {
    flex-direction: row;
    display: flex;
    gap: 500px;
}

.leftsideboxwithbutton,
.rightsideimage {
    padding: 100px;
    border: 3px solid white;
}