body {
 display: flex;
 margin: 0;
 flex-direction:column;
 min-height: 100vh;
}



.topbluepart, .whitepartwithtext, .quotebox, .signupbox
{
    
}






.headertext {
    font-size: 24px;
    color: #F9FAF8;
    border: 1px solid pink;
}


.header {
   
}

.topbluepart {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
}

.whitepartwithtext {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.infoheader {
    text-align: center;
    margin-bottom: 50px;
}


.quotebox {
    background: #E5E7EB;
    display: flex;
    flex: 1;
}

.infoheaderpics {
    background: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 200px;
    margin-bottom: 100px;
}

.signupbox {
    background: pink;
    display: flex;
    flex: 1;
}

.footer {
    background: #1F2937;
    height: 72px;
    color: white;
}

.boxinsidebluepart {
    border: 1px solid pink;
}

.bottomgroupbox {
    border: 3px solid brown;
}

.all {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1;
}